<div ng-controller="LinksCtrl">

    <input ng-model="searchText" placeholder="Die globale Suche" class="input-sm form-control searchfield" type="search"/>

    <div class="row">
        <div ng-repeat="group in rowCollection" class="col-md-2">

            <table ng-class="['linkTable-' + $index]" st-table="rowCollection" class="table table-striped">
                <thead class="tableTitle">
                <tr>
                    <th st-sort="name">{{group.groupname}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in group.grouplinks | filter:searchText">
                    <td><a ng-href="{{row.link}}">{{row.name}}</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <a href='#settings'>Settings</a>
</div>
