/* app css stylesheet */

body {
  padding: 10px !important;
}

/*
.linkTables {
  width: 100%;
}

.linkTable-0 {
  width: 100%;
}

.linkTable-1 {
  width: 100%;
}

.linkTable-2 {
  width: 100%;
}

.linkTable-3 {
  width: 100%;
}

.linkTable-4 {
  width: 100%;
}
*/


