/* app css stylesheet */

body {
  padding: 10px !important;
}

.searchfield {
  margin-bottom: 10px;
}

.tableTitle {
  color: #FFFFFF;
  background-color: #FF0000;
}

/*
.linkTables {
  width: 100%;
}

.linkTable-0 {
  width: 100%;
}

.linkTable-1 {
  width: 100%;
}

.linkTable-2 {
  width: 100%;
}

.linkTable-3 {
  width: 100%;
}

.linkTable-4 {
  width: 100%;
  display: block;
}
*/


