/* app css stylesheet */

body {
  padding: 10px !important;
}

.fulgurator-title {
  /*font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;*/
  font-size: medium;
  margin-bottom: 20px;
  background-color: #343132;
  box-shadow: 0.5em 0 0 #343132,-0.5em 0 0 #343132;

}

.searchfield {
  margin-bottom: 10px;
}

.tableTitle {
  color: #FFFFFF;
  background-color: #FF0000;
}

/*
.linkTables {
  width: 100%;
}

.linkTable-0 {
  width: 100%;
}

.linkTable-1 {
  width: 100%;
}

.linkTable-2 {
  width: 100%;
}

.linkTable-3 {
  width: 100%;
}

.linkTable-4 {
  width: 100%;
  display: block;
}
*/


