<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Links App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="app.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.debug.js"></script>

    <script src="app.js"></script>

</head>
<body ng-app="linksprivate">

<div ng-controller="LinksCtrl">

 <!--   <form>
        <label for="predicate">selected predicate:</label>
        <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
    </form>-->
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th colspan="3">
                <input ng-model="searchText" placeholder="Die globale Suche" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        <tr>
            <th st-sort="name">Name</th>
            <th st-sort="tag">Tag</th>
            <th st-sort="link">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection | filter:searchText">
            <td><a ng-href="{{row.link}}">{{row.name | uppercase}}</a></td>
            <td>{{row.tag | uppercase}}</td>
            <td>{{row.link | uppercase}}</td>

            <a ng-href="mailto:{{row.email}}">email</a></td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
